.bac_video{
    padding: 0rem 7rem;
    margin-bottom: 0rem;
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url(../Images/GxO7iFpw.jpeg);
    background-position: top  ;
    background-repeat: no-repeat;
    background-size: cover;
}

.bvideo{
    position: absolute;
    top: 0;
    left: 0;
}

.bg_div{
    margin: auto;
    padding-top: 10rem;
    width: 50%;
    text-align: center;
    color: black;
}

.primaryhadding_bg{
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;

}

.tarhadding_bg{
    color: rgb(32, 30, 30);
}