.choice_us_section{
    padding-top: 2rem;
    padding-right: 5rem;
    align-items: center;
    text-align: center;
    padding-left: 6rem;
    padding-right: 10rem;
    margin-bottom: 4rem;
    padding-bottom: 2.6rem;
    background-color: CCCACA;
}

.choice_title{
    width: 400px;
    padding: 5px;
}

.choic_img{
    width: 30%;
    margin: auto;
    margin-bottom: .3rem;
}

.Place_list img{
    width: 50px;
    left: 100px;
}

.day_tite2{
    margin: auto;
    width: 55%;
    padding-bottom: .5rem;
}

.day_tite22{
    margin: auto;
    width: 85%;
    padding-bottom: .5rem;
}