.fixed{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 2px;
    bottom: 5px;
    border-radius: 10px;
}

.fixed img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
